<header>
    <nav class="nav-list">
        <ul>
            <li>
                [
                <a href="/">home</a>
                ]
            </li>
            <li>
                [
                <a href="/posts/about-page">about</a>
                ]
            </li>
        </ul>
    </nav>
    <div class="header-banner">
    <img src="/assets/pixel-desk.jpg" class="main-cover" alt="Front page image">
    <h1 class="main-title">/dev/ - Developer's Diaries</h1>
    <hr>
    <h2 class="nav-list">[ <a href="/admin">Manage Posts</a> ]</h2>
    
    </div>
    <hr>
</header>